<!-- <link rel="stylesheet" href="/css/eventModal.css">
<button
  id="modal-button"
  type="button"
  data-toggle="modal"
  data-target="#eventsModal"
>
  Latest Events
</button>
<div id="eventsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Latest Events</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->


<div class="event-modal-container">
  <li class="nav-item">
    <button
      id="modal-button"
      type="button"
      data-toggle="modal"
      data-target="#eventsModal"
    >
      Latest Events
    </button>
  </li>
  <div id="eventsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Latest Events</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
